a, a > code {
  color: #3c6e71; /* color of link text */
  text-decoration: none; /* other options: underline, overline, line-through */
}
.footnote {
  position: absolute; /* location of an element. absolute means other elements will behave as if it's not there. other options: static, relative, fixed sticky */
  bottom: 3em;        /* 3 point sizes from the bottom */
  padding-right: 4;   /* padding around the text, from the right edge*/
  font-size: 90%;     /* size is 90% of the standard text size */
}
.remark-code-line-highlighted     { background-color: #ffff88; }
/* background color of highlighted lines of code (i.e. #<<) */

.inverse {                    /* inverse slide properties*/
  background-color: #272822;  /* background slide color */
  color: #d6d6d6;             /* body text color on inverse slide */
  text-shadow: 0 0 20px #333; /* in order: horizontal distance, vertical distance, blur radius, shadow color*/
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #588b8b; /* heading color on inverse slide */
}
/* Two-column layout */
.left-column {
  /*background-color: #ffd5c2; /* background color of the text container*/
  color: #777; /* text color */
  width: 20%;  /* width of left column */
  height: 92%; /* height of the content box (~67.5% to be similar to right-column) */
  float: left; /* floats element to the left of the container */
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000; /* color of h2+h3 in left column*/
}
.right-column {
  /*background-color: #ffd5c2; /* background color of the text container*/
  width: 75%;       /* width of right column */
  float: right;     /* floats context box to the right (first mention takes precedence) */
  padding-top: 1em; /* padding of 1 point size from the top of the container (makes it look a little lower than left-column) */
}
.pull-left {
  float: left; /* floats text container to the left */
  width: 47%;  /* width of text container */
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right + * {
  clear: both; /* ??? */
}
img, video, iframe { /*  */
  max-width: 100%;   /* maximum width the embedded element can take up on the slide*/
}
blockquote {
  border-left: solid 5px lightgray; /* gives quote a solid lightgray border on the left */
  padding-left: 1em; /* pads left of quote text by 1 point size*/
}
.remark-slide table {
  margin: auto; /* margin from left. auto helps center horizontally*/
  border-top: 1px solid #666;  /* top border of tables */
  border-bottom: 1px solid #666; /* bottom border of tables */
}
.remark-slide table thead th { border-bottom: 1px solid #666; } /* properties of bottom border of table heading*/
th, td { padding: 5px; } /* padding around text in table*/
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee } /* background color for header and even table rows */

@page { margin: 0; } /* ??? */
@media print {       /* ??? */
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/* From June on Twitter */
code.r.hljs.remark-code {
  position: relative;
  overflow-x: hidden;
  /*overflow-y: hidden; /* WIP */
}

code.r.hljs.remark-code:hover{
  overflow-x: visible;
  overflow-y: visible;  /* WIP */
  /*width: 500px; /* specific to the space needed on the slide */
  width: 100%; /* takes up the entire width of the slide */
  border-style: solid;
}