@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

body {
  font-family: 'Arial', sans-serif;
  font-weight: 300;
  color: #2E3440;
}

.remark-slide-content {
    font-size: 25px;
    font-weight: 300;
}

h1 {
  font-family: 'Arial', serif;
  font-weight: 700;
  color: #005EB8FF;
  font-size: 45px;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: #005EB8FF;
}

h3 {
  font-family: 'Arial', sans-serif;
  /*text-transform: uppercase;*/
  font-weight: 500;
  color: #005EB8FF;
  font-size: 35px;
}

h4 {
  font-family: 'Arial', serif;
  font-weight: 500;
  font-size: 25px;
  color: #005EB8FF;
}

.inverse h1, .inverse h2, .inverse h3 {
  color: #E8EDEE;
}

.remark-code, .remark-inline-code {
  font-size: 95%;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color: #231F20FF;
  background-color: #E8EDEEFF;
}
