
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');

html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      13px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #122140;
  --header-color:    #122140;
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Lora", sans-serif;
  --mono-font:       "Fira Code", monospace;
  --body-font:       "Source Sans Pro", sans-serif;
  --navbar-font:     "Lora", sans-serif;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.9rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       1rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    20px;
  --contents-size:   16px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       18px;
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        16px;
  --hover-color:      white;
  --bkgd-color:       #122140;
}

.distill-site-footer {
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #0F2E3D;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

/* Change bullets */
ul > li::marker {
  font-size: 1.125em;
  color: #e5bf00;
}

/* Change link appearance */
d-article a {
  border-bottom: 1.5px solid #e5bf00;
  text-decoration: none;
}

/* Change navbar header appearance */
.distill-site-header {
  font-weight: 500;
  letter-spacing: 0.06em;
}

.distill-site-header a:hover {
  text-decoration: underline;
}

/* Change site description appearance */
d-title p {
  font-size: 20px;
  font-weight: 500;
}

/* Change site metadata appearance */
d-byline .byline h3 {
  font-family: 'Lora';
  letter-spacing: 0.07em;
}

d-byline a:hover {
  text-decoration: underline;
}

/*-- Code --*/
code, pre {
    font-family: "Source Code Pro", "Lucida Console",
    Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
