body {
  font-size: 1.1em;
}

a {
  color: #005EB8FF;
  border-bottom: 2px solid #005EB8FF;
}

a:hover {
  border-bottom: 0px;
}

.title-slide {
  background-image: url(img/logo-nhs-org-right.png);
  background-position: 1000px 50px;
  background-size: 150px;
  top: 1em;
  right: 1em;
  line-height: 1em;
}

.title-slide h1 {
  color: #000000;
}

.inverse {
  background-color: #231F20FF;
}

.footnote {
  position: absolute;
  bottom: 1em;
  padding-right: 4em;
  font-size: 70%;
  line-height: 1em;
}

.remark-slide-content {
  font-size: 25px;
  /* line-height: 1.4em;*/
}

.remark-code, .remark-inline-code {
  color: #231F20;
  background: #E8EDEE;
  border-radius: 3px;
  padding: 1px 1px 1px 1px;
  font-size: 90%;
}

.remark-code-line-highlighted {
  background-color: #E8EDEE;
}

/* code chunk background layer */
pre {
  /*border: 2px solid rgba(204, 189, 204, 0.8); /* code chunk border*/
  border: none;
  box-shadow: 2px 2px 2px 2px #eee;
  padding: 0.1em;                     /* padding between code chunk and border */
  background: none !important;
  overflow-x: auto;
  border-radius: 1px;                 /* modify rounding of corners*/
}
pre code {
  background: none;
  font-size: 1.3rem !important;
}
