@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);

/* you can import from https://fonts.google.com/specimen/Source+Code+Pro?query=source+code&sidebar.open=true&selection.family=Source+Code+Pro:wght@400;700 */ 
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

/* controls the font properties for the body text */
body { font-family: 'Lora', 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif; }

/* controls the font properties for the headers */
h1, h2, h3 {
  font-family: 'Lora', 'Yanone Kaffeesatz';
  font-weight: normal;
}

/* controls the font properties for code text */
.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; }
